<!DOCTYPE html>
<html>
<head>
    <title>Pokeneas Visual</title>
</head>
<body>
    <h1><%= viewdata.pokenea.nombre %></h1>
    <img src="<%= viewdata.pokenea.imagen %>" alt="<%= viewdata.pokenea.nombre %>" width="200" />
    <p><strong>Frase Filosófica:</strong> "<%= viewdata.pokenea.frase_filosofica %>"</p>
    <p><em>Container ID: <%= viewdata.containerId %></em></p>
</body>
</html>
